@import '../../styles/global-styles/media-queries.css';

.container {
	@media (--medium-viewport-min) {
		padding: var(--spacing--default) var(--spacing--m);
	}
}

.headline {
	margin-bottom: var(--spacing--default);
}

.workshops {
	display: grid;

	grid-gap: var(--spacing--m);

	@media (--small-viewport-min) {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

.no-workshops {
	--text-color: var(--color--blue);
	font: var(--font-style--highlight);
	font-size: var(--clamp--m);
	color: var(--color--blue);

	@media (--small-viewport-min) {
		grid-column: 1/3;
	}
}
