{
	"rules": {
		"at-rule-empty-line-before": [
			"always"
			,{
				"ignore": [
					"blockless-after-blockless",
					"inside-block"
				]
			}
		],
		"at-rule-name-case": "lower",
		"at-rule-name-newline-after": "always-multi-line",
		"at-rule-name-space-after": "always",
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": ["include", "mixin", "define-mixin", "for", "each", "if", "else", "at-root"]
			}
		],
		"at-rule-no-vendor-prefix": true,
		"at-rule-semicolon-newline-after": "always",
		"at-rule-semicolon-space-before": "never",
		"block-closing-brace-empty-line-before": "never",
		"block-closing-brace-newline-after": "always",
		"block-closing-brace-newline-before": "always",
		"block-no-empty": true,
		"block-opening-brace-newline-after": "always",
		"block-opening-brace-space-before": "always",
		"color-hex-case": "lower",
		"color-hex-length": "long",
		"color-named": "never",
		"color-no-invalid-hex": true,
		"comment-no-empty": true,
		"comment-whitespace-inside": "always",
		"declaration-bang-space-after": "never",
		"declaration-bang-space-before": "always",
		"declaration-block-no-duplicate-properties": [
			true
			,{
				"ignore": [
					"consecutive-duplicates-with-different-values"
				]
			}
		],
		"declaration-block-no-shorthand-property-overrides": true,
		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-semicolon-space-after": "always-single-line",
		"declaration-block-semicolon-space-before": "never",
		"declaration-block-single-line-max-declarations": 1,
		"declaration-block-trailing-semicolon": "always",
		"declaration-colon-space-after": "always-single-line",
		"declaration-colon-space-before": "never",
		"declaration-empty-line-before": "never",
		"font-family-name-quotes": "always-unless-keyword",
		"font-family-no-duplicate-names": true,
		"function-calc-no-unspaced-operator": true,
		"function-comma-newline-after": "always-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": "always-single-line",
		"function-comma-space-before": "never",
		"function-linear-gradient-no-nonstandard-direction": true,
		"function-max-empty-lines": 0,
		"function-name-case": "lower",
		"function-parentheses-newline-inside": "always-multi-line",
		"function-parentheses-space-inside": "never-single-line",
		"function-url-quotes": "always",
		"function-whitespace-after": "always",
		"keyframe-declaration-no-important": true,
		"length-zero-no-unit": true,
		"max-empty-lines": [
			1
			,{
				"ignore": [
					"comments"
				]
			}
		],
		"media-feature-colon-space-after": "always",
		"media-feature-colon-space-before": "never",
		"media-feature-name-case": "lower",
		"media-feature-name-no-unknown": true,
		"media-feature-name-no-vendor-prefix": true,
		"media-feature-parentheses-space-inside": "never",
		"media-feature-range-operator-space-after": "always",
		"media-feature-range-operator-space-before": "always",
		"media-query-list-comma-newline-after": "always-multi-line",
		"media-query-list-comma-newline-before": "never-multi-line",
		"media-query-list-comma-space-after": "always",
		"media-query-list-comma-space-before": "never",
		"no-duplicate-selectors": true,
		"no-empty-source": true,
		"no-extra-semicolons": true,
		"no-unknown-animations": true,
		"property-case": "lower",
		"property-no-unknown": [
			true
			,{
				"ignoreProperties": [
					"//"
				]
			}
		],
		"property-no-vendor-prefix": true,
		"rule-empty-line-before": [
			"always"
			,{
				"except": [
					"after-single-line-comment"
					,"first-nested"
				]
			}
		],
		"selector-attribute-brackets-space-inside": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-quotes": "always",
		"selector-descendant-combinator-no-non-space": true,
		"selector-list-comma-newline-after": "always",
		"selector-list-comma-newline-before": "never-multi-line",
		"selector-list-comma-space-after": "always-single-line",
		"selector-list-comma-space-before": "never",
		"selector-max-empty-lines": 0,
		"selector-no-vendor-prefix": true,
		"selector-pseudo-class-case": "lower",
		"selector-pseudo-class-no-unknown": [
			true
		],
		"selector-pseudo-class-parentheses-space-inside": "never",
		"selector-pseudo-element-case": "lower",
		"selector-pseudo-element-colon-notation": "double",
		"selector-pseudo-element-no-unknown": true,
		"selector-type-case": "lower",
		"shorthand-property-no-redundant-values": true,
		"string-no-newline": true,
		"unit-case": "lower",
		"unit-no-unknown": true,
		"value-keyword-case": "lower",
		"value-list-comma-newline-before": "never-multi-line",
		"value-list-comma-space-after": "always-single-line",
		"value-list-comma-space-before": "never",
		"value-list-max-empty-lines": 0,
		"value-no-vendor-prefix": true
	}
}