.container {
    width: 100%;
    min-height: 100vh;
    padding: var(--spacing--m);
    grid-template-columns: minmax(0, 15.625rem) auto;
    grid-template-rows: minmax(0, min-content) minmax(0, min-content);
    grid-gap: var(--spacing--m);
    grid-template-areas: 
        "headline headline"
        "navbar gallery";
}

.headline {
    grid-area: headline;
    cursor: pointer;
}

.navigation {
    grid-area: navbar;
    position: sticky;
    top: 9.375rem;
    align-self: start;
}

.gallery {
    grid-area: gallery;
}