.container {
    height: calc(100vh - 220px);
    width: 100vw;
    border-radius: 0 0% 0 20% /0 0 0 50%;
    overflow: hidden;
}

.background,
.content {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 10;
    height: min-content;
    width: 60%;
    padding: var(--spacing--m);
    margin-bottom: var(--spacing--l);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 53%;
        height: 100%;
        background-color: var(--color--grey);
        z-index: -1;
        opacity: 0.4;
        border-radius: 0 0% 20% 0/0 0 50% 0;
    }
}

.subheadline {
    width: 48%;
    white-space: pre-line;
    justify-self: end;
    margin-top: var(--spacing--default);
    margin-right: var(--spacing--default);
    border-radius: 0 0% 40% 0/0 0 85% 0;
}