@import '../../styles/global-styles/media-queries.css';

.container {
    height: calc(100vh - 220px);
    max-height: 37.5rem;
    width: 100%;
    max-width: var(--max-main-image-width);
    margin: 0 auto;
    overflow: hidden;

    &.layout-1 {

        @media (--medium-viewport-min) {
            border-radius: 0 0% 0 20% /0 0 0 50%;
        }
        
    }

    &.layout-3 {
        grid-template-rows: max-content auto;
        max-height: 20rem;
        row-gap: var(--spacing--m);

        @media (--extra-small-viewport-min) {
            max-height: 35rem;
           
        }

        @media (--small-viewport-min) {
            min-height: 45rem;
            max-height: 45rem;
        }
    }
}

.background,
.content {

    .layout-1 &,
    .layout-2 & {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
    }
    
}



.background {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 10;
    padding: var(--spacing--default);
    justify-self: center;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color--grey);
        z-index: -1;
        opacity: 0.4;
    }

    @media (--small-viewport-min) {
        padding: var(--spacing--m);
        margin-bottom: var(--spacing--l);
        
    }

    .layout-1 & {
        height: min-content;
        max-width: 39.375rem;

        &::before {
            width: 100%;
            height: 100%;
        }


        @media (--medium-viewport-min) {
            &::before {
                width: 53%;
                height: 100%;
                border-radius: 0 0% 20% 0/0 0 50% 0;
            }
        }
        
    }

    .layout-2 & {
        width: min-content;
        aspect-ratio: 1 / 1;
        align-items: center;
        justify-self: center;
        margin-top: var(--spacing--default);
        margin-bottom: var(--spacing--default);
        
        &::before {
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
        }

        @media (--extra-small-viewport-min) {
            margin-right: var(--spacing--xl);
            margin-top: var(--spacing--l);
            justify-self: end;
        }
    }

    .layout-3 & {
        grid-row: 1 / 2;
        margin: 0;
        padding: 0;
        justify-self: start;
        height: max-content;
        padding-left: var(--spacing--default);

        @media (--extra-small-viewport-min) {
            padding-left: var(--spacing--m)
        }

        @media (--large-viewport-min) {
            padding-left: var(--spacing--xl);
        }
    }
}

.headline {
    .layout-2 & {
        border-radius: 50%;
        padding: var(--spacing--m);
    }

    .layout-3 & {
        --font-style: var(--font-style--highlight);
        font: var(--font-style--highlight);
        margin-top: var(--spacing--l);
    }
}

.subheadline {
    white-space: pre-line;
    justify-self: end;
    
    .layout-1 & {
        width: 100%;
        margin-top: var(--spacing--default);
        padding-left: var(--spacing--m);

        @media (--medium-viewport-min) {
            width: 48%;
            margin-right: var(--spacing--default);
            border-radius: 0 0% 40% 0/0 0 85% 0;
        }
    } 
}