@import '../../styles/global-styles/media-queries.css';

.container {
    
    &.creative {
        background-color: var(--color--brown);
        display: flex;
        padding-top: var(--spacing--default);

        @media (--small-viewport-max) {
            flex-wrap: wrap;
        }
    } 

    &.business {
        padding: var(--spacing--default);
        @media (--extra-small-viewport-min) {
            padding: var(--spacing--m);
        }
    }
    
   
}

.headline {
    font: var(--font-style--highlight);
    .business & {
        text-align: center;
        margin-bottom: var(--spacing--m);
    }

    .creative & {
        text-align: right;
        /* white-space: pre-line;  */
        height: min-content;
        position: relative;
        z-index: 1;
        max-width: 300px;
        
        margin-top: var(--spacing--default);

        @media (--small-viewport-max) {
            padding-left: var(--spacing--default);
        }

        @media (--small-viewport-min) {
            margin-right: var(--spacing--m);
        }

        &::before {
            content: '';
            width:100%;
            aspect-ratio: 1 / 1;
            background-color: var(--color--white);
            border-radius: 50%;
            position: absolute;
            top:0;
            left: calc(var(--spacing--l) * -1);
            z-index: -1;
            transform: translateY(-25%);
        }
    }
}
.wrapper {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    padding: var(--spacing--m);
    z-index: 10;
}