html {
	height: 100%;
	padding: 0;
	margin: 0;
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	font: var(--font-style, var(--font-style--default));
	max-width: 100vw;
	padding: 0;
	margin: 0;

	* {
		user-select: var(--user-select, auto);
		word-wrap: break-word;
		hyphens: auto;
		color: var(--text-color, var(--color--black));
	}
}

:target {
	scroll-margin-top: var(--header-height, 0);
}
