@import '../../node_modules/the-new-css-reset/css/reset.css';
@import '/media-queries.css';

html {
	font-size: 16px;
}

/* Make images easier to work with */
img {
	height: auto;

	&[src$='.svg'] {
		max-width: none;
		box-sizing: content-box;
	}
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	cursor: pointer;
	font: inherit;
}

main {
	min-height: calc(100vh - 40px - var(--big-footer-height));
	overflow-x: hidden;
	@media (--small-viewport-min) {
		min-height: calc(100vh - var(--big-footer-height));
	}
	

	@media (--medium-viewport-min) {
		min-height: calc(100vh - 80px - var(--big-header-height));
	}
	>* {
		width: 100%;
		max-width: var(--max-content-width);
		margin: 0 auto;
	}
}
