@import '../../node_modules/the-new-css-reset/css/reset.css';

html {
	font-size: 16px;
}

/* Make images easier to work with */
img {
	height: auto;

	&[src$='.svg'] {
		max-width: none;
		box-sizing: content-box;
	}
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	cursor: pointer;
	font: inherit;
}

main {
	min-height: calc(100vh - 80px - var(--big-header-height));
	>* {
		width: 100%;
		max-width: var(--max-content-width);
		margin: 0 auto;
	}
}
