@font-face {
	font-family: 'Montserrat-Regular';
	src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('/assets/fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('/assets/fonts/Montserrat-Light.woff2') format('woff2'), url('/assets/fonts/Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('/assets/fonts/Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SigmarOne-Regular';
	src: url('/assets/fonts/SigmarOne-Regular.woff2') format('woff2'), url('/assets/fonts/SigmarOne-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JuliusSansOne-Regular';
	src: url('/assets/fonts/JuliusSansOne-Regular.woff2') format('woff2'), url('/assets/fonts/JuliusSansOne-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
