@font-face {
	font-family: 'Mulish-Regular';
	src: url('/assets/fonts/Mulish-Regular.woff2') format('woff2'), url('/assets/fonts/Mulish-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish-Bold';
	src: url('/assets/fonts/Mulish-Bold.woff2') format('woff2'), url('/assets/fonts/Mulish-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Serif-Regular';
	src: url('/assets/fonts/RobotoSerif-Regular.woff2') format('woff2'), url('/assets/fonts/RobotoSerif-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
