html {
	font-family: var(--font-body);
	font-weight: 300;
}


b,
strong,
.bold {
	font-family: var(--font-body-bold);
	font-weight: 700;
}

.text {
	&--uc {
		text-transform: uppercase;
	}

	&--lc {
		text-transform: lowercase;
	}
}

p {
	margin: var(--text-spacing) 0;
	font: var(--font-style, var(--font-style--default));
}


h1 {
	font: var(--font-style, var(--font-style--xl));
}

h2 {
	font: var(--font-style, var(--font-style--l));
}

h3 {
	font: var(--font-style, var(--font-style--m));
}

h1,
h2,
h3 {
	color: var(--headline-color, var(--color--black));
}

a,
.link {
	

}

.no-link {


}

@each $fontSize in giant, xl, l, m, default, s, xs {
	.font-size--$(fontSize) {
		font-size: var(--clamp--$(fontSize));
	}
}

@each $fontStyle in (giant, xl, l, m, default, s, xs, highlight, highlight-2 ) {
	.font-style--$(fontStyle) {
		--font-style: var(--font-style--$(fontStyle));
		font: var(--font-style--$(fontStyle));

		@if $fontStyle == s {
			letter-spacing: var(--letter-spacing);
			text-transform: uppercase;
		}

		@if $fontStyle == xs {
			letter-spacing: var(--letter-spacing);
			text-transform: uppercase;
		}
	}
}

@each $textAlignment in left, right, center {
	.text-align--$(textAlignment) {
		text-align: $textAlignment;
	}
}

@each $verticalAlignment in sub, super {
	.vertical-align--$(verticalAlignment) {
		vertical-align: $verticalAlignment;
	}
}


