html {
	font-family: var(--font-body);
	font-weight: 300;
}


b,
strong,
.bold {
	font-family: var(--font-body-bold);
	font-weight: 700;
}

.text {
	&--uc {
		text-transform: uppercase;
	}

	&--lc {
		text-transform: lowercase;
	}
}

p {
	margin: var(--text-spacing) 0;
	font: var(--font-style, var(--font-style--default));
}


h1 {
	font: var(--font-style, var(--font-style--xl));
}

h2 {
	font: var(--font-style, var(--font-style--l));
}

h3 {
	font: var(--font-style, var(--font-style--m));
}

h1,
h2,
h3 {
	color: var(--headline-color, var(--color--grey));
}

h4 {
	font-family: var(--font-body-bold);
	font-weight: 700;
}

a,
.link {
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: var(--color--red);

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: var(--text-color, var(--color--red));
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	&:hover {
		&::after {
			transform: scaleX(1);
  			transform-origin: bottom left;
		}
	}
}

.no-link {
	color: inherit;
	&::after {
		content: unset;
		position: unset;
		width: unset;
		transform: unset;
		height: unset;
		bottom: unset;
		left: unset;
		background-color: unset;
		transform-origin: unset;
		transition: unset;
	}
}

@each $fontSize in giant, xl, l, m, default, s, xs {
	.font-size--$(fontSize) {
		font-size: var(--clamp--$(fontSize));
	}
}

@each $fontStyle in (giant, xl, l, m, default, s, xs, highlight) {
	.font-style--$(fontStyle) {
		--font-style: var(--font-style--$(fontStyle));
		font: var(--font-style--$(fontStyle));

		@if $fontStyle == s {
			letter-spacing: var(--letter-spacing);
			text-transform: uppercase;
		}

		@if $fontStyle == xs {
			letter-spacing: var(--letter-spacing);
			text-transform: uppercase;
		}
	}
}

@each $textAlignment in left, right, center {
	.text-align--$(textAlignment) {
		text-align: $textAlignment;
	}
}

.has-text-align-center {
	text-align: center;
}

@each $verticalAlignment in sub, super {
	.vertical-align--$(verticalAlignment) {
		vertical-align: $verticalAlignment;
	}
}


