:root {
	/* fonts */
	--font-body: 'Montserrat-Regular';
	--font-body-bold: 'Montserrat-Bold';
	--font-headline: 'SigmarOne-Regular';
	--font-highlight: 'JuliusSansOne-Regular';
	--font-highlight-2: 'Sacramento';

	/* font-sizes desktop*/
	--font-size--d-giant: 5.9375rem; /* 68px */
	--font-size--d-xl: 2.625rem; /* 42px */
	--font-size--d-l: 38px; /* 28px */
	--font-size--d-m: 24px; /*18px */
	--font-size--d-default: 17px;
	--font-size--d-s: 14px; /* 14px */
	--font-size--d-xs: 11px; /* 9px */

	/* font-sizes mobile*/
	
	--font-size--m-giant: 2.5rem;
	--font-size--m-xl: 1.875rem;
	--font-size--m-l: 1.5rem;
	--font-size--m-m: 1.125rem;
	--font-size--m-default: 1rem;
	--font-size--m-s: 13px;
	--font-size--m-xs: 11px;

	/* clamp */
	--clamp--giant: clamp(var(--font-size--m-giant), 7vw, var(--font-size--d-giant));
	--clamp--xl: clamp(var(--font-size--m-xl), 7vw, var(--font-size--d-xl));
	--clamp--l: clamp(var(--font-size--m-l), 10vw, var(--font-size--d-l));
	--clamp--m: clamp(var(--font-size--m-m), 7vw, var(--font-size--d-m));
	--clamp--default: clamp(var(--font-size--m-default), 5vw, var(--font-size--d-default));
	--clamp--s: clamp(var(--font-size--m-s), 7vw, var(--font-size--d-s));
	--clamp--xs: clamp(var(--font-size--m-xs), 7vw, var(--font-size--d-xs));

	/* line height */
	--line-height--s: 1;
	--line-height--m: 1.2;
	--line-height--l: 1.4;
	--line-height--xl: 1.6;

	/* font styles */
	--font-style--giant: normal var(--clamp--giant) / var(--line-height--m) var(--font-body);
	--font-style--xl: normal var(--clamp--xl) / var(--line-height--l) var(--font-headline);
	--font-style--l: normal var(--clamp--l) / var(--line-height--xl) var(--font-body-bold);
	--font-style--m: normal var(--clamp--m) / var(--line-height--l) var(--font-body-bold);
	--font-style--default: normal var(--clamp--default) / var(--line-height--xl) var(--font-body);
	--font-style--s: normal var(--clamp--s) / var(--line-height--m) var(--font-body);
	--font-style--xs: normal var(--clamp--xs) / var(--line-height--xl) var(--font-body);
	--font-style--highlight: normal var(--clamp--xl) / var(--line-height--l) var(--font-highlight);
	--font-style--highlight-2: normal var(--clamp--xl) / var(--line-height--l) var(--font-highlight-2);

	/* color-values */
	--color-grey-hsl: 191, 20%, 21%;
	--color-yellow-hsl: 55, 87%, 56%;
	--color-blue-hsl: 201, 49%, 34%;
	--color-lightgreen-hsl: 80, 40%, 78%;
	--color-shellwhite-hsl: 40, 100%, 97%;
	--color-petrol-hsl: 188, 39%, 45%;
	--color-green-hsl: 136, 37%, 40%;
	--color-white-hsl: 0, 0%, 100%;
	--color-red-hsl: 350, 70%, 67%;
	--color-brown-hsl: 42, 20%, 51%;

	/* colors as hsl */
	--color--grey: hsl(var(--color-grey-hsl));
	--color--yellow: hsl(var(--color-yellow-hsl));
	--color--blue: hsl(var(--color-blue-hsl));
	--color--lightgreen: hsl(var(--color-lightgreen-hsl));
	--color--shellwhite: hsl(var(--color-shellwhite-hsl));
	--color--petrol: hsl(var(--color-petrol-hsl));
	--color--green: hsl(var(--color-green-hsl));
	--color--white: hsl(var(--color-white-hsl));
	--color--red: hsl(var(--color-red-hsl));
	--color--brown: hsl(var(--color-brown-hsl));

	/* base-spacing */
	--SBU: 0.25rem;
	--spacing: var(--SBU);
	--spacing--default: calc(var(--SBU) * 4);
	--spacing--m: calc(var(--SBU) * 8); /* 32px */
	--spacing--l: calc(var(--SBU) * 16); /* 64px */
	--spacing--xl: calc(var(--SBU) * 24); /* 96px */
	--spacing--xxl: calc(var(--SBU) * 32); /* 128px */
	--spacing--giant: calc(var(--SBU) * 48); /* 192px*/
	--spacing--xgiant: calc(var(--SBU) * 56); /* 224px*/

	/* text-spacing */
	--text-spacing: 1em;

	/* letter-spacing */
	--letter-spacing: 0.3em;

	/* header heights */
	/* --header-height--mobile: 6.5625rem;
	--header-height--desktop: 9.625rem; */


	--small-header-height: 72.28px;
	--big-header-height: 210.28px;
	--small-footer-height: 113.59px;
	--big-footer-height: 152.59px;
	--max-content-width: 1440px;
	--max-main-image-width: 1600px;
	--content-width: 1140px;

	/* --main-container-horizontal-padding: calc(var(--spacing--l) + var(--spacing--default)); */

	/* default SVG Color */
	--svg-color: #ffffff;

	/* transitions */

	/* shadows */
}
