:root {
	/* fonts */
	--font-body: 'Mulish-Regular';
	--font-body-bold: 'Mulish-Bold';
	--font-headline: 'Roboto-Serif-Regular';

	/* font-sizes desktop*/
	--font-size--d-giant: 4.25rem; /* 68px */
	--font-size--d-xl: 2.625rem; /* 42px */
	--font-size--d-l: 38px; /* 28px */
	--font-size--d-m: 1.625rem; /*18px */
	--font-size--d-default: 1.25rem;
	--font-size--d-s: 0.875rem; /* 14px */
	--font-size--d-xs: 0.5625rem; /* 9px */

	/* font-sizes mobile*/
	
	--font-size--m-giant: 3.1875rem;
	--font-size--m-xl: 1.875rem;
	--font-size--m-l: 1.5rem;
	--font-size--m-m: 1.125rem;
	--font-size--m-default: 1rem;
	--font-size--m-s: 0.875rem;
	--font-size--m-xs: 0.5625rem;

	/* clamp */
	--clamp--giant: clamp(var(--font-size--m-giant), 7vw, var(--font-size--d-giant));
	--clamp--xl: clamp(var(--font-size--m-xl), 7vw, var(--font-size--d-xl));
	--clamp--l: clamp(var(--font-size--m-l), 7vw, var(--font-size--d-l));
	--clamp--m: clamp(var(--font-size--m-m), 7vw, var(--font-size--d-m));
	--clamp--default: clamp(var(--font-size--m-default), 5vw, var(--font-size--d-default));
	--clamp--s: clamp(var(--font-size--m-s), 7vw, var(--font-size--d-s));
	--clamp--xs: clamp(var(--font-size--m-xs), 7vw, var(--font-size--d-xs));

	/* line height */
	--line-height--s: 1;
	--line-height--m: 1.2;
	--line-height--l: 1.4;
	--line-height--xl: 1.6;

	/* font styles */
	--font-style--giant: normal var(--clamp--giant) / var(--line-height--xl) var(--font-headline);
	--font-style--xl: normal var(--clamp--xl) / var(--line-height--l) var(--font-headline);
	--font-style--l: normal var(--clamp--l) / var(--line-height--xl) var(--font-headline);
	--font-style--m: normal var(--clamp--m) / var(--line-height--l) var(--font-body-bold);
	--font-style--default: normal var(--clamp--default) / var(--line-height--xl) var(--font-body);
	--font-style--s: normal var(--clamp--s) / var(--line-height--m) var(--font-body);
	--font-style--xs: normal var(--clamp--xs) / var(--line-height--xl) var(--font-body);

	/* color-values */
	--color-darkblue-hsl: 210, 65%, 31%;
	--color-green-hsl: 157, 100%, 33%;
	--color-petrol-hsl: 188, 100%, 34%;
	--color-lightgreen-hsl: 70, 73%, 80%;
	--color-lightblue-hsl: 196, 60%, 71%;
	--color-darkred-hsl: 351, 57%, 35%;
	--color-black-hsl: 0, 0%, 0%;
	--color-white-hsl: 0, 0%, 100%;

	/* colors as hsl */
	--color--darkblue: hsl(var(--color-darkblue-hsl));
	--color--green: hsl(var(--color-green-hsl));
	--color--petrol: hsl(var(--color-petrol-hsl));
	--color--lightgreen: hsl(var(--color-lightgreen-hsl));
	--color--lightblue: hsl(var(--color-lightblue-hsl));
	--color--darkred: hsl(var(--color-darkred-hsl));
	--color--black: hsl(var(--color-black-hsl));
	--color--white: hsl(var(--color-white-hsl));
	

	/* base-spacing */
	--SBU: 0.25rem;
	--spacing: var(--SBU);
	--spacing--default: calc(var(--SBU) * 4);
	--spacing--m: calc(var(--SBU) * 8); /* 32px */
	--spacing--l: calc(var(--SBU) * 16); /* 64px */
	--spacing--xl: calc(var(--SBU) * 24); /* 96px */
	--spacing--xxl: calc(var(--SBU) * 32); /* 128px */
	--spacing--giant: calc(var(--SBU) * 48); /* 192px*/
	--spacing--xgiant: calc(var(--SBU) * 56); /* 224px*/

	/* text-spacing */
	--text-spacing: 1em;

	/* letter-spacing */
	--letter-spacing: 0.3em;

	/* header heights */
	/* --header-height--mobile: 6.5625rem;
	--header-height--desktop: 9.625rem; */

	--content-width: 71.25rem;

	/* --main-container-horizontal-padding: calc(var(--spacing--l) + var(--spacing--default)); */

	/* default SVG Color */
	--svg-color: #ffffff;

	/* transitions */

	/* shadows */
}
