@import './global-styles/media-queries.css';

.container {
    /* max-width: var(--max-content-width); */
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(var(--color-grey-hsl), 0.05);

}
.headline {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: var(--spacing--m);
    padding-top: var(--spacing--l);

    @media (--medium-viewport-min) {
        padding-left: var(--spacing--xxl);
    }
}

.image-text-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.image-text {
    padding: var(--spacing--m) 0;

    @media (--small-viewport-min) {
        grid-template-columns: auto auto;
        padding: var(--spacing--m);
    }
    
    &:nth-child(odd) {
        /* padding-left: var(--spacing--m); */

        @media (--small-viewport-min) {
            
            .image {
                grid-column: 2 / -1;
                grid-row: 1;
            }
        }

        @media (--medium-viewport-min) {
            padding-left: var(--spacing--xxl);
        }

       
    }

    &:nth-child(even) {
        

        @media (--medium-viewport-min) {
            padding-right: var(--spacing--xxl);
        }
    }

    &:not(:first-child) {
        .image {
            border-radius: 50%;
            overflow: hidden;
            height: 300px;
        }
        &:nth-child(odd) {
            .image {
                transform: translateX(5rem);
            }  
        }

        &:nth-child(even) {
            .image {
                transform: translateX(-5rem);
            }  
        }
        
    }

    .image {
        width: 300px;
        max-width: 300px;
    }

    .text {
        @media (--small-viewport-max) {
            position: relative;
            width: 95%;
            justify-self: end;
            margin-top: calc(var(--spacing--l) * -1);
            z-index: 10;
            padding: var(--spacing--default) var(--spacing--m);
            &::before {
                content: '';
                background-color: var(--color--shellwhite);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0.9;
                position: absolute;
                z-index: -1;
                display: block;
            }
        }
    }

    &:first-child {
        .image {
            @media (--small-viewport-max) {
            }
        }
        .text {
            @media (--small-viewport-max) {
                margin-top: 0;
            }
            @media (--small-viewport-min) {
                margin-top: var(--spacing--default);
                padding-right: var(--spacing--l);
            }
        }
    }
}