.contact {
    justify-items: center;

    &-button {
        margin-top: calc(var(--spacing--default) * -1) !important;

        @supports not (aspect-ratio: 1 / 1) { 
            width: 195px;
            height: 195px;
            max-width: 195px;
        }
    }
}

.contact-text-wrapper {
    padding: var(--spacing--m) var(--spacing--m);
    background-color: hsla(var(--color-lightgreen-hsl), 0.3);
    width: 100%;
}

.contact-text {
    margin: 0 auto;
    width: fit-content;
}